{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}


<!--Carousel Wrapper-->
<div id="carousel-example-2"    class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">

{%
  set first_element = true

%}
{%
set row_counter = 0
%}
    <!--Indicators-->
<ol class="carousel-indicators" >
{% for row in rows %}
{%- if first_element -%}
{%
   set first_element = false
%}
<li  data-target="#carousel-example-2" data-slide-to = '{{row_counter}}' class="active"></li>
{%- else -%}
<li  data-target="#carousel-example-2" data-slide-to= '{{row_counter}}' ></li>
{%- endif %}
{%
 set row_counter = row_counter + 1
%}

{% endfor %}
</ol>
  <!--/.Indicators-->




  <!--Slides-->
<div class="carousel-inner" role="listbox">
  {%
  set first_element = true

   %}

   {%
   set row_classes = [
        default_row_class ? 'views-row carousel-item active',
          ]
   %}

{% for row in rows %}


{%- if first_element -%}
{%
   set first_element = false
%}
{%- else -%}

{%
   set row_classes = [
        default_row_class ? 'views-row carousel-item',
          ]
   %}

{%- endif %}

<div {{ row.attributes.addClass(row_classes) }}>


 {{- row.content -}}
</div>

{% endfor %}



  </div>
  <!--/.Slides-->




  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
