{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="container-main_">
<header role="banner"  id = 'header'    >
<div class="container-fluid">
   <div class="row">
     <div class = "col-3">
       {{ page.header }}
     </div>
     <div class ='col-3'  >
       {{ page.mnc_header_first }}
      </div>
    <div class="col-6"  >
     {{ page.primary_menu }}
     </div>
    </div>
    <div class = 'row'>
     <div class="col" style = "margin:0px 0px 0px 0px;padding:0px 0px 0px 0px">
     {{ page.mnc_home_gallery }}

      </div>
     </div>
  </div>
</header>


<div class="container"  style='padding-left:0px;padding-right:0px'  >

  <main role="main" class = 'mnc-main' >
  <div class ='row'>

    {% if page.sidebar_first %}
    <div class = 'col-2'>
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
     </div>
    {% endif %}
    <div class = 'col-8'>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}
    </div>


    {% if page.sidebar_second %}
    <div class = 'col-2'>
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
     </div>
    {% endif %}
  </div>
  </main>




</div>{# /. container #}

<div class="container-fluid ">
<div class="row mnc-bottom-block">
<div class = "col">
        {{ page.content_bottom_1 }}
 </div>
 <div class = "col">
        {{ page.content_bottom_2 }}
 </div>
 <div class = "col">
        {{ page.content_bottom_3 }}
 </div>

</div>
</div>

 {% if page.footer %}
    <footer role="contentinfo" class = 'site-footer' >
    <div class="container-fluid ">




      <div class="row mnc-footer-block">
        <div class = "col">
        {{ page.footer_first }}
        </div>
          <div class = "col">
          {{ page.footer_second }}
        </div>
        <div class = "col mnc-footer-third">
        {{ page.footer_third }}
        </div>
        <div class = "col">
        {{ page.footer_fourth }}
        </div>
      </div>
      <div class="row mnc-footer-copyright">

        <div class = "col"> {{ page.footer }}</div>
        </div>
    </div>
    </footer>
  {% endif %}
</div>


